<% content_for :assets do %>
  <%= javascript_packs_with_chunks_tag 'datatables', 'moment' %>
<% end %>

<%= render partial: 'layouts/breadcrumb',
           locals: {
             jurisdiction_path: current_user.jurisdiction_path,
             crumbs: [{ value: dashboard_crumb_title(@dashboard, @playbook), href: @dashboard_path },
                      { value: 'Monitoree Details', href: nil }]
           } %>

<% if current_user.can_download_monitoree_data? %>
<%= react_component('patient/export/DownloadMonitoree', { authenticity_token: form_authenticity_token, patient: @patient }) %>
<% end %>

<%= react_component('patient/PatientPage', {
                      current_user: current_user,
                      can_add_group: current_user.can_create_patient?,
                      can_modify_subject_status: current_user.can_modify_subject_status?,
                      patient: @patient,
                      other_household_members: @household_members_exclude_self,
                      authenticity_token: form_authenticity_token,
                      jurisdiction_paths: @possible_jurisdiction_paths,
                      blocked_sms: @patient.blocked_sms,
                      workflow: @dashboard,
                      continuous_exposure_enabled: @continuous_exposure_enabled
                    }) %>

<% if current_user.can_modify_subject_status? %>
<% if @patient_page_sections[:options][:monitoring_actions].present? %>
<div id="monitoring-actions" class="card mx-2 mt-4 mb-4 card-square">
  <div class="card-header h5"><%= @patient_page_sections[:options][:monitoring_actions][:label] %></div>
  <%= react_component('patient/monitoring_actions/MonitoringActions', {
                        current_user: current_user,
                        user_can_transfer: current_user.can_transfer_patients?,
                        authenticity_token: form_authenticity_token,
                        household_members: @household_members_exclude_self,
                        patient: @patient,
                        jurisdiction_paths: @possible_jurisdiction_paths,
                        assigned_users: @possible_assigned_users,
                        monitoring_reasons: ValidationHelper::USER_SELECTABLE_MONITORING_REASONS,
                        playbook: @playbook,
                        workflow: @dashboard,
                        continuous_exposure_enabled: @continuous_exposure_enabled,
                        available_workflows: @available_workflows
                      }) %>
</div>
<% end %>
<% end %>


<% if current_user.can_modify_subject_status? %>
<% if @patient_page_sections[:options][:history].present? %>
<%= react_component('patient/history/HistoryList', {
                      histories: @histories,
                      history_types: @history_types,
                      patient_id: @patient.id,
                      current_user: current_user,
                      authenticity_token: form_authenticity_token,
                      section_label: @patient_page_sections[:options][:history][:label]
                    }) %>
<% end %>
<% end %>

<script>
  $(document).ready(function() {
    $('.lab_table').DataTable({
      "search": false,
      "info": false,
      "lengthMenu": [10, 15, 25, 50],
      "pageLength": 15,
      "oLanguage": {
        "sSearch": "Search Lab Results:"
      },
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'i><'col-sm-24 col-md-14'p>>"
    });
  });
</script>
